html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: black;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#box_counter {
  color: white;
}

.box {
  color: white;
  width: 50vw;
  height: 50vh;
  margin: 25vh auto 0 auto;
  text-align: center;
  font-size: 2em;
  -webkit-box-shadow: 0px 0px 6px 3px #FFFFFF;
          box-shadow: 0px 0px 6px 3px #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box .box__counter {
  font-size: 1.5em;
}

.box .box-buttonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15%;
}

.box .box-buttonList .box-buttonList__decrease {
  color: #FFFFFF;
  width: 30%;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
          box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fe1a00), to(#ce0100));
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.box .box-buttonList .box-buttonList__reset {
  color: black;
  width: 30%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.box .box-buttonList .box-buttonList__increase {
  color: #FFFFFF;
  width: 30%;
  -webkit-box-shadow: inset 0px 1px 0px 0px #4cce00;
          box-shadow: inset 0px 1px 0px 0px #4cce00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #4cce00), to(#4cce00));
  background: linear-gradient(to bottom, #4cce00 5%, #4cce00 100%);
  border-radius: 6px;
  border: 1px solid #4cce00;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4cce00;
}
/*# sourceMappingURL=styles.css.map */